<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生主界面</title>

    <style>
        .el-header，.el-footer{
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

    </style>
</head>
<body>

<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '2']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>查看可选课程</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1">查看可选课程</el-menu-item>
                    </el-menu-item-group>

                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>查看审批进度</template>
                    <el-menu-item-group>
                        <template slot="title"></template>
                        <el-menu-item index="2-1" @click="stuCheckProcess">查看还未完成</el-menu-item>
                        <el-menu-item index="2-2" @click="stuCheckProcessEd">查看已完成</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>

            </el-menu>
        </el-aside>
        <!--可选课程表-->
        <el-container>
            <el-header style="text-align: right; background-color: rgb(238, 241, 246);font-size: 16px">
                <el-dropdown @command="quit">
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown" >
                        <el-dropdown-item command="quit">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                    <span>{{user.name}},你好,你是{{user.role}}</span>
                </el-dropdown>
                <span>

                </span>
            </el-header>

            <el-main width="100%">
                <!--查询表单-->
                <el-form :inline="true" :model="Course" class="demo-form-inline">

                    <el-form-item label="课程名称">
                        <el-input v-model="course.name" placeholder="课程名称"></el-input>
                    </el-form-item>

                    <el-form-item label="主讲教师">
                        <el-input v-model="course.lecturerName" placeholder="主讲教师"></el-input>
                    </el-form-item>

                    <el-form-item label="主管教师">
                        <el-input v-model="course.masterName" placeholder="主管教师"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>

                </el-form>
                <!--课程表单-->
                <el-table
                        ref="singleTable"
                        :data="tableData"
                        style="width: 100%"
                        :row-class-name="tableRowClassName">
                    <el-table-column type="index" width="50">
                    </el-table-column>
                    <el-table-column prop="name" label="课程名称" >
                    </el-table-column>
                    <el-table-column prop="lecturerName" label="主讲教师" >
                    </el-table-column>
                    <el-table-column prop="masterName" label="主管教师" >
                    </el-table-column>
                    <el-table-column prop="description" label="课程描述" >
                    </el-table-column>

                    <el-table-column align="center" label="操作">
                        <template slot-scope="scope">
                            <el-row>
                                <el-button type="primary" @click="AddApplication(scope.row)" plain>申请</el-button>
                            </el-row>
                        </template>
                    </el-table-column>

                </el-table>

            </el-main>

            <el-footer>
                <!--分页工具条-->
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="5"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>

            </el-footer>
        </el-container>
    </el-container>


</div>

<script src="../js/vue.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">

<script>
    new Vue( {
        el:"#app",
        mounted(){
            this.selectAllCourseByPageAndCondition();
            this.getUser();
        },
        methods: {
            getUser() {
                //从url中获取用户信息
                var query = window.location.search.substring(1);
                this.user = JSON.parse(decodeURIComponent(query.split("=")[1]));
            },

            //退出登录
            quit(){
                window.location.href = "http://localhost:8090/web01/html/userLogin.html"
            },

            //跳转已完成记录界面
            stuCheckProcessEd(){
                window.location.href = "http://localhost:8090/web01/html/stuCheckProcessEd.html?user=" + encodeURIComponent(JSON.stringify(this.user));
            },

            //跳转到进度查询页面
            stuCheckProcess(){
                window.location.href = "http://localhost:8090/web01/html/stuCheckProcess.html?user=" + encodeURIComponent(JSON.stringify(this.user));
            },

            selectAllCourseByPageAndCondition() {
                axios({
                    method: "post",
                    url: "http://localhost:8090/web01/course/selectCourseByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data: this.course
                }).then(resp => {
                    console.log(resp.data);
                    //设置表格数据
                    this.tableData = resp.data.rows //{rows:[],totalCount:100}
                    //设置总记录数
                    this.totalCount = resp.data.totalCount
                })
            },

            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 === 0) {
                    return 'warning-row';
                } else if (rowIndex % 4 === 2) {
                    return 'success-row';
                }
                return '';
            },
            /*分页*/
            handleSizeChange(val) {
                this.pageSize = val;
                this.selectAllCourseByPageAndCondition();
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectAllCourseByPageAndCondition();
            },

            /*条件查询*/
            onSubmit() {
                this.selectAllCourseByPageAndCondition();
            },

            /*申请课程*/
            AddApplication(course){
                this.$prompt('请输入申请原因', '提示', {
                    confirmButtonText: '提交',
                    cancelButtonText: '取消',
                    inputPattern:""
                }).then(({ value }) => {
                    var _this =this;
                    _this.application.courseName = course.name;
                    _this.application.lecturerName = course.lecturerName;
                    _this.application.masterName = course.masterName;
                    _this.application.stuName = this.user.name;
                    _this.application.reason = value;
                    _this.application.status ="1"
                    console.log(_this.application);

                    //发送请求
                    axios({
                    method: "post",
                    url: "http://localhost:8090/web01/application/addApplication",
                    data: _this.application
                }).then(function (resp){
                    if(resp.data === 'success'){
                        _this.$message({
                            message: '申请成功，请等待审批',
                            type: 'success'
                        });
                    }else{
                        _this.$message.error('申请失败，已申请过该课程');
                    }
                })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '取消申请'
                    });
                });
            }
        },
        data() {
            return{

                //当前页码
                currentPage: 1,
                //每页显示的条数
                pageSize:5,
                //总记录数
                totalCount:100,
                //所有课程数据
                course:{
                    id :'',
                    name:'',
                    lecturerName:'',
                    masterName:'',
                    description:''
                },
                //用户数据
                user:{
                    id:'',
                    name:'张三',
                    password:"",
                    role:"学生",
                    username:""
                },
                application:{
                     id:"",
                     courseName:"",
                     stuName:"",
                     lecturerName:"",
                     masterName:"",
                     reason:"",
                     status:"1"
                },


                tableData:[{
                    name:'初始',
                    lecturerName: '初始',
                    masterName: '初始',
                    description: '初始'
                },{
                    name:'初始',
                    lecturerName: '初始',
                    masterName: '初始',
                    description: '初始'
                },{
                    name:'初始',
                    lecturerName: '初始',
                    masterName: '初始',
                    description: '初始'
                },]

            }

        }
    });

</script>
</body>
</html>